html,
body {
    height: 100%;
}

body {
    padding-top: 80px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: rgb(26, 26, 26);
    color: rgb(239, 239, 239);
}

#relatedBooks {
    padding-bottom: 30px;
}

#cart,
#help {
    color: rgb(45, 45, 45);
}

.bookImage {
    width: 360px;
    max-height: 500px;
}

.text-justify {
    text-align: justify;
}

.carousel-pic {
    width: 190px;
    height: 270px;
}

footer {
    color: rgb(26, 26, 26);
    background-color: rgb(239, 239, 239);
}